spring:
  datasource:
    url: jdbc:postgresql://postgres:5432/txn_db
    username: "dev"
    password: "dev"
  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
  redis:
    host: redis
    port: 6379

flyway:
  enabled: true
  locations: classpath:db/migration,filesystem:flyway/sql

server:
  port: 8080

logging:
  level:
    root: INFO

management:
  endpoints:
    web:
      exposure:
        include: health,info
  endpoint:
    health:
      show-details: always
