spring:
  datasource:
    url: jdbc:postgresql://postgres:5432/txn_db
    username: dev
    password: #@!dev
  jpa:
    hibernate:
      ddl-auto: validate
    properties:
      hibernate:
        jdbc:
          time_zone: UTC
  redis:
    host: redis
    port: 6379

management:
  endpoints:
    web:
      exposure:
        include: health,info,prometheus

server:
  port: 8080

logging:
  level:
    root: INFO
    com.project: DEBUG
